# Build output
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcworkspace/xcuserdata/

# macOS
.DS_Store

# Swift
.swiftpm/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
