# Build output
Spotter/build/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/

# macOS
.DS_Store

# Swift
.swiftpm/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
